{% extends "layout.html" %}
{% block body %}

    <h2>Young_Mind</h2>
    {% for Young_Mind in all_Young_Minds %}
    {% if Young_Mind["completed"] == False %}
        <p>
            Young_Mind ID: {{ Young_Mind["id"] }}<br>
            Young_Mind Description: {{ Young_Mind["description"] }}<br>
            <a href="{{ url_for('read_Young_Mind', id=Young_Mind.id) }}">Read</a>
            <a href="{{ url_for('create_Young_Mind', id=Young_Mind.id) }}">Create</a>
            <a href="{{ url_for('update_Young_Mind', id=Young_Mind.id) }}">Update</a>
            <a href="{{ url_for('delete_Young_Mind', id=Young_Mind.id) }}">Delete</a>
        </p>    
    {% endif %}
    {% endfor %}    
    
    <h2>Jokes</h2>
    {% for joke in all_jokes %}
    {% if joke["completed"] == False %}
        <p>
            joke ID: {{ joke["id"] }}<br>
            joke Description: {{ joke["description"] }}<br>
            <a href="{{ url_for('create_joke', id=joke) }}">Create</a>
            <a href="{{ url_for('update_joke', id=joke.id) }}">Update</a>
            <a href="{{ url_for('update_joke', id=joke.id) }}">Update</a>
            <a href="{{ url_for('delete_joke', id=joke.id) }}">Delete</a>
        </p>    
    {% endif %}
    {% endfor %}

{% endblock body %}

from app import db, Countries, Cities

db.drop_all()
db.create_all() # Creates all table classes defined

countries = [
    "United Kingdom",
    "France",
    "South Korea",
    "Ireland",
    "Japan",
    "Nigeria"
]

for country in countries:
    new_country = Countries(name = country)
    db.session.add(new_country)
    db.session.commit()
    
cities = [
    ("London", "United Kingdom"),
    ("Manchester", "United Kingdom"),
    ("Tokyo", "Japan"),
    ("Dublin", "Ireland")
]

for city in cities:
    new_city = Cities(name = city[0], country = Countries.query.filter_by(name=city[1]).first())
    db.session.add(new_city)
    db.session.commit()

all_countries = Countries.query.all()

for country in all_countries:
    print(f"Country name: {country.name}")
    print(f"Cities in {country.name}:")
    for city in country.cities:
        print(f"- {city.name}")
    print()