<!DOCTYPE html>
<html>
    <head>
        <title>Young Minds - {{ Young_Minds }}</title>
    </head>
    <body style="background-color: rgb(229, 238, 144);">

      <h1 style="color:Purple">Young_Minds</h1>

      <body style="background-color: rgb(173, 240, 199);">
      
      <h3 style="color:rgb(53, 71, 235)"><em><hr>Why did the kid bring a ladder to school?<br>
      Because she wanted to go to high school.</em></h2></hr>
      
      <h3 style="color:red"><em>What’s an alligator in a vest called?<br>
      An investi-gator.</em></h2>
      
      <h2 style="color:Purple"><em><hr>Wanna share your jokes? Just login and share multiple jokes and earn Dojos.</hr></em></h3>
      
      <h1><hr>Welcome to Young Minds {{ YoungMinds }}</h1></hr>
        <p>
            <hr></hr>
            <br><button type="button" onclick="window.location.href='{{ url_for('create_youngmind') }}';">Add YoungMind</button>
            <button type="button" onclick="window.location.href='{{ url_for('create_joke') }}';">Add Joke</button>
        </p>
        {% block body %}
        {% endblock body %}
    </body>
