<!DOCTYPE html>
<html>
    <head>
        <title>Todo App - {{ title }}</title>
    </head>
    <body style="background-color: rgb(224, 153, 221);">
        <h1>Todo App - {{ title }}</h1>
        <p>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('create_task') }}">Add Task</a>
        </p>
        {% block body %}
        {% endblock body %}
    </body>
</html>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="Navbar" href="#">Young Minds</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Riddles</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Brain Teasers</a></li>
                  <li><a class="dropdown-item" href="#">Classic Riddles</a></li>
                  <li><a class="dropdown-item" href="#">Difficult Riddles</a></li>
                  <li><a class="dropdown-item" href="#">Easy Riddles</a></li>
                  <li><a class="dropdown-item" href="#">Good Riddles</a></li>
                  <li><a class="dropdown-item" href="#">Funny Riddles</a></li>
                  <li><a class="dropdown-item" href="#">Others</a></li>
                  </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Jokes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Knock-Knock</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Summer Jokes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sports Jokes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Festive Jokes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Birthday Jokes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Winter Jokes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Santa Jokes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>