<!DOCTYPE html>
<html>
    <head>
        <title>Young_Minds - {{ Young_Minds }}</title>
    </head>
    <body style="background-color: rgb(236, 240, 202);">

      <h1 style="color:Purple">Young_Minds</h1>

      <body style="background-color: rgb(173, 240, 199);">
      
      <h2 style="color:rgb(219, 127, 73)">Why did the kid bring a ladder to school?<br>
      Because she wanted to go to high school.</h2>
      
      <h2 style="color:red">What’s an alligator in a vest called?<br>
      An investi-gator.</h2>
      
      <h3 style="color:Purple">Wanna share your jokes? Just login and share multiple jokes and earn Dojos.</h3>
      
      <h1>Welcome to Young Minds - {{ YoungMinds }}</h1>
        <p>
            <a href="{{ url_for('create_YoungMind') }}">Add YoungMind</a>
            <a href="{{ url_for('create_joke') }}">Share your Jokes</a>
        </p>
        {% block body %}
        {% endblock body %}
    </body>
</html>