{% extends "layout.html" %}
{% block body %}

<h1 style="color:Purple">Young_Minds</h1>

<body style="background-color: rgb(173, 240, 199);">

<h2 style="color:rgb(219, 127, 73)">Why did the kid bring a ladder to school?<br>
Because she wanted to go to high school.</h2>

<h2 style="color:red">What’s an alligator in a vest called?<br>
An investi-gator.</h2>

<h3 style="color:Purple">Wanna share your jokes? Just login and share multiple jokes and earn Dojos.</h3>

<form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="Harry"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Potter"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>Once you click on the "Submit button", you can share jokes and riddles as many as you like.</p>
{% endblock %}
